body{
    /* margin and padding */
    margin: 0;
    padding: 0;
    /* background image gradient effect */
    background-image: linear-gradient(45deg,#fff,#b3901d,#4a473e,#36342f);
}

header{
    /* margin top, font size, text align, background color, padding, color */
    margin-top: -3%;
    font-size: 20px;
    text-align: center;
    background-color:#785c0a;
    padding: 20px;
    color: #dfd4b2;
}

main{
     /* margin top */
    margin-top: -8%;
}

/* for centering the content */
.center-container {
    /* width and height */
    width: 100%;
    height: 100vh;
    /* display flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height */
    height: 100vh;
}

/*for image container */
.image-container {
    /* display inline block */
    display: inline-block;
    /* margin */
    margin: 20px;
    /* overflow */
    overflow: hidden; 
    /* width and height */
    width: 200px;
    height: 300px;
    /* position */
    position: relative; 
    /* align items */
    align-items: center;
    /* cursor */
    cursor: pointer; 
}

/*applying filters*/

.image1 img {
     /* filter grayscale */
    filter: grayscale(100%);
    width: 100%; /* image fills container width */
    height: auto; /* maintain aspect ratio */

}

.image2 img {
    /*filter:sepia(100%);*/
     /* filter blur */
    filter: blur(5px);
    width: 100%; /* image fills container width */
    height: auto; /* maintain aspect ratio */
}

.image3 img {
    /* filter hue rotate */
    filter: hue-rotate(90deg);
    width: 100%; /* image fills container width */
    height: auto; /* maintain aspect ratio */
}
/* Style for spans */
.st,
.nd,
#rd {
       /* display inline */
       display: inline;
       /* text align */
       text-align: center; 
       /* margin top */
       margin-top: 10px;
   }
main span{
    /*color*/
    color: #fff;
    /*add stroke*/
    -webkit-text-stroke: 0.1px rgb(97, 97, 97); 
}