body {
/* margin and padding */
    margin: 0;
    padding: 0;
    color: black;
}
h1, h2 {
    color: #683f1c;
}
.image{
    margin-right: 150px;
}
.heading{
    background-color: #efb55f ;
    text-align: center;
}
 
.heads{
    display: inline-block; /* Display as inline block */
    vertical-align:top; 
    font-family: "Satisfy", cursive;
}