/*main body*/ 
body{
    padding-top: 60px;
    padding: 0;
    margin: 0;
    background-image: radial-gradient(rgb(167, 1, 1), rgb(128, 0, 0), rgb(66, 3, 3));/*background color for the page*/
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    height: 100vh;
}
.bodyy{
        padding-top: 60px;
        padding: 0;
        margin: 0;
        /*background-image: radial-gradient(rgb(167, 1, 1), rgb(128, 0, 0), rgb(66, 3, 3));/*background color for the page*/
        background-color: #ffc400;
        background-repeat: no-repeat;
        background-size: cover; 
        height: 100%;
}
/*starting the page (title and star and mini bar on the side) */
.start {
    margin-top: 4%;
    text-align: center; /* Center align */
    color: gold; /* Set text color */
    -webkit-text-stroke: 0.5px goldenrod; /* set stroke and color*/
}

.title-info {
    display: inline-block; /* Display title and star on the same line */
    vertical-align: middle; /* Align vertically in center */
}

#star {
    font-size: 100px; /* Adjust star size */
    margin-right: 10px; /* Add spacing between star and title */
    margin-bottom: -10px; /* add scapng between star and teh title*/
}

#title {
    font-size: 50px; /* Adjust title font size */
    font-weight: bold; /* Make title bold */
    vertical-align: middle; /* Align vertically with star */
    -webkit-text-stroke: 0.5px rgb(0, 0, 0); /* set stroke and color*/
    margin-left: -7px;
}

#side {
    font-size: 20px; /* Adjust sidebar font size */
    margin-top: -10px; /* Move sidebar closer to the title */
}
/* starting the <nav> bar part (logo, <nav> and the button) */
.header {
    position: sticky;
    top: 0;
    z-index: 999; /* Ensure it's above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(rgb(128, 0, 0),#000000);
    padding: 10px;
}

.logo {
    margin-left: 30px; /* Add margin to the right of the logo */
}

.logo h1 {
    margin: 0; /* Remove default margin */
    color: gold; /* Change logo color */
}

nav {
    margin-right: 30px; /* Add margin to the left of the navigation bar */
}

nav ol {
    list-style-type: none; 
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Make the list items horizontal */
}

nav li {
    padding: 0 10px; /* Add padding between navigation items */
}

nav a {
    text-decoration: none; /*removes the underline part*/
    color: gold; /*set color of the nav bar to gold*/
}

.marvell {
    background-color: transparent; /* Remove button background color */
    border: 2px solid gold; /* Add border to button */
    color: gold; /* Change button text color */
    padding: 5px 10px; /* Add padding to button */
}

.marvell:hover {
    background-color: gold; /* Change button background color on hover */
    color: #641612; /* Change button text color on hover */
}

nav li:last-child .marvell {
    margin-left: 30px; /* Add margin to the left of the button */
}
/* starting the page */
/*main headings*/
.cook h1{
    /*background-color: rgb(140, 119, 0);*/
    background-image: radial-gradient(#450f0d,rgb(163, 1, 1), #130000) ; /*set the background color*/
    color: gold;  /*set the h2 text color */
    font-size: 40px; /*making the size 40px*/
    text-align: center; /*adjust to make it at the center of the page */ 
}
/*sub-headings*/
.cook h2, h3, h4{
    /*color: #e3e3e3;*/
    color: rgb(255, 235, 119); 
}
.cook h2{
    text-align: center;
    background-image: radial-gradient(#282828,#969595); /*color the background */
}
/*paragraphs*/
.cook p{
    color: #fff; /* Set text color */
    margin-left: 30px; 
    text-align:left;;
    margin-right: 90px;
}
/*all the lists */
.cook ul li{
    color:#ffc400 ; /* Set text color */
}
.cook sub{
    font-size: 13px; /*making the size */
}
/*genres */
.bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genres {
    display: flex;
    justify-content: center;
}
.genre {
    width: 100px;
    height: 65px;
    background-color: #252525; /*color the background */
    border-radius: 10px; /* Adjust the border-radius to change the shape */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Adjust spacing between genres */
    color: rgb(255, 213, 0); /* Set text color */
}
/*Cast & Crew section*/
.Tcaste{
    text-align: center;
    font-weight: bold;
}
.Tcaste h1{
    color: gold; /* Set text color */
    font-size: 40px;  /*set font size*/
    text-align: center;
}
.Tcaste h2{
    color: rgb(255, 235, 119); /* Set text color */

}

.cast-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cast-item {
    display: flex;
    margin-bottom: 20px;
}
/*circle for the Cast & Crew */
.circle {
    width: 65px;
    height: 65px;
    background-color: #252525; /*color the background */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: rgb(255, 194, 39); /* Set text color */
}

.cast-details {
    display: flex;
    flex-direction: column;
}

.cast-details h3 {
    margin: 0;
    color: rgb(255, 195, 42); /* Set text color */
}

.cast-details p {
    margin: 5px 0;
    color:#c8c8c8 ; /* Set text color */
}

.cast-list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cast-item2 {
    display: flex;
    margin-bottom: 20px;
}

.circle2 {
    width: 65px;
    height: 65px;
    background-color: #252525; /*color the background */
    color: rgb(255, 194, 39); /* Set text color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 53px;
}

.cast-details2 {
    display: flex;
    flex-direction: column;
}

.cast-details2 h3 {
    margin: 0;
    color: rgb(255, 195, 42);
}

.cast-details2 p {
    margin: 5px 0;   
    color:#c8c8c8 ;
}
/*the end section at the bottom including the "top" button*/
.cook hr{
    height: 2px;
}
#end{
    text-align: center;
    color: gold;
    font-weight: bold;
    font-size: 27px; /*making the size */
    margin-top: -10px;
}
.ttop{
    display: flex;
    justify-content:center;
    /*margin-left : 50%; */

}
.B_T {
    text-decoration: none;
    background-color: gold; /*color the background */
    color: rgb(128, 92, 1);
    text-align: center;
    cursor:progress;
    border: none; /* Remove default button border */
    padding: 5px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
}

.B_T:hover {
    background-color: goldenrod; /* Change background color on hover */
    color: #fff200; /* Change text color on hover */
}
/*key points*/
#pointz{
    display: inline;
}
.cook span{
    color: gold;
}
#foot{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 5px;
    background-image: radial-gradient(rgb(128, 0, 0),#000000);
    color: gold;
}
footer{
    text-align: center;
    width: 100%;
    padding: 5px;
    background-image: radial-gradient(rgb(128, 0, 0),#000000);
    color: gold;
}